#center {
  border: 4px solid #24323f;
  display: block;
  margin: 0 auto;
  background-color: white;
  width: 95%;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
}

#buttonWrapper {
  font-size: 20px;
  width: 288px;
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
  margin: 0 auto;
  background-color: #24323f;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 20px;
}

#fileInputWrapper {
  margin: 0 auto;
  display: table;
}

.icon {
  padding: 40px 0;
}

.fileButton {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #24323f;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

.fileButton:hover {
  background-color: #1e2c3b;
}

.fileName {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #24323f;
}

@media screen and (max-width: 768px) {
  #buttonWrapper {
    width: 100% !important;
  }
}
